.saturn{
	animation: saturn-m 5s infinite;
}
@keyframes saturn-m{
	0%{

	}
	25%{
		top: 200px;
	}
}
.earth{
	animation: earth-m 5s infinite;
}
@keyframes earth-m{
	0%{
		transform: rotate(0deg);
	}
/*	25%{
		transform: rotate(15deg);
	}
	50%{
		transform: rotate(30deg);
	}
	75%{
		transform: rotate(45deg);
	}*/
	100%{
		transform: rotate(360deg);
	}
}
.icons{
}
.rocket{
	position: relative;
	animation: rocket-m 10s infinite;

}
@keyframes rocket-m{
	0%{
		left: 0;
		bottom: 0;
	}
	25%{
		/*bottom: 250px;*/
		transform: rotate(-135deg);
		/*left: 250px;*/
	}
	50%{
		transform: rotate(-135deg);
	}
	75%{
		transform: rotate(-270deg);
		left: -300px;
		/*bottom: 300px;*/
	}
	100%{
		top: 00px;
		left: 00px;
	}
}